<!-- Start activity container -->
<div class="container add_bottom_60" id='activities'>
    <div class="main_title add_bottom_45">
        <span></span>
        <h2><%= content.activity.title %></h2>
        <%- content.activity.description %>
    </div>
    <div class="row">
        <div class="col-md-8" id="strip_activities">
            <ul>
                <% content.activities.forEach(function(activity){ %>
                    <li>
                        <section id='<%= activity.link.substring(1) %>'>
                            <img src='<%= activity.thumbnail %>' alt='<%= activity.imgAlt %>' class="img-circle styled"></a>

                            <h4><%= activity.title %></h4>
                            <div class="comment more">
                                <%- activity.text %>
                            </div>
                        </section>
                    </li>
                 <% }); %>
            </ul>
        </div>
        <div class="col-md-4">
            
            <!-- End box_style_1 -->
            <a class="box_style_1 weahter" href="<%= loft.route %>">
                <i class="icon-light-up"></i>
                Rezervácia
            </a>
            <a class="box_style_1 weahter" href="/contacts">
                <i class="icon-light-up"></i>
                <%= content.activity.accuweahter_link %>
            </a>
             <a class="box_style_1 weahter" href="/">
                <i class="icon-light-up"></i>
                Galéria
            </a>
            <!-- End  weather-->
            <!--<div id="banner">
                    <%- content.activity.banner %>
            </div> End banner -->
        </div>
    </div>
    <!-- End row -->
</div>
<!-- End container -->