<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <ul id="contact_details_footer">
                <h3>Kontakt</h3>
                <li>??? Jabloňovce<br>Slovakia 935 06</li>
                <li><a href='<%= phone.link %>'><%= phone.label %></a></li>
                <li><a href='<%= mailto.link %>'><%= mailto.label %></a></li>
            </ul>  
        </div>
        <div class="col-xs-6 col-sm-6">
            <ul>
                <h3><%= about.label %></h3>
                <li><a href='<%= about.route %>'><%= about.label %></a></li>
                <li><a href='<%= apartmans.route %>'><%= apartmans.label %></a></li>
                <li><a href='<%= activity.route %>'><%= activity.label %></a></li>
                <li><a href='<%= contacts.route %>'><%= contacts.label %></a></li>
                <li><a href='<%= gallery.route %>'><%= gallery.label %></a></li>
            </ul>
        </div>                
    </div><!-- End row -->
    <div class="row">
        <div class="col-md-12">
            <div id="social_footer">
               <ul>
                    <li><a href='<%= facebook.link %>'><i class="icon-facebook"></i></a></li>
                    <li><a href='<%= twiter.link %>'><i class="icon-twitter"></i></a></li>
                    <li><a href='<%= googlePlus.link %>'><i class="icon-google"></i></a></li>
                    <li><a href='<%= instagram.link %>'><i class="icon-instagram"></i></a></li>
                </ul>
                <p>© jablonovce 2016</p>
            </div>
        </div>
    </div><!-- End row -->
</div><!-- End container -->	