<!-- start info grafic container --> 
<div class="container margin_60 padd_bottom_20">
<div class="main_title">
    <span></span>
    <h2><%= content.info.title%></h2>
    <%- content.info.description%>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="box_home">
            <i class="icon_set_2_icon-104"></i>
            <h3><%= content.infos[0].title%></h3>
            <%- content.infos[0].description%>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box_home">
            <i class="icon_set_2_icon-108"></i>
            <h3><%= content.infos[1].title%></h3>
            <%- content.infos[1].description%>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box_home">
            <i class="icon_set_1_icon-40"></i>
            <h3><%= content.infos[2].title%></h3>
            <%- content.infos[2].description%>
        </div>
    </div>
</div><!-- End row -->
</div><!-- End container -->