<!-- start info grafic container --> 
<div class="container margin_60 padd_bottom_20">
<div class="main_title">
    <span></span>
    <h2><%= content.info.title%></h2>
    <%- content.info.description%>
</div>
<div class="row">
    <% content.infos.forEach(function(info){ %>
    <div class="col-md-4">
        <div class="box_home">
            <i class="<%= info.icon %>"></i>
            <h3><%= info.title%></h3>
            <%- info.description%>
        </div>
    </div>
    <% })%>
</div><!-- End row -->
</div><!-- End container -->