        <div id="top_header">
        	<div class="container">
            	<div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div id="logo">
                        <a href="/"><img src="img/logo.png" width="104" height="40" alt="ChataJablonovce" data-retina="true"></a>
                    </div>
                </div>
                <nav class="col-md-8 col-sm-8 col-xs-8">
                    <a class="cmn-toggle-switch cmn-toggle-switch__rot  open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="img/logo.png" width="104" height="40" alt="ChataJablonovce" data-retina="true">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu"><%= menu[0].label %> <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href='<%= loft.route %>'><%= loft.label %></a></li>
                                    <li><a href='<%= groundfloor.route %>'><%= groundfloor.label %></a></li>
                                </ul>
                            </li>
                             <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu"><%= menu[1].label %><i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <% content.activities.forEach(function(activ){ %>
                                        <li><a class='page-scroll' href="/<%= activ.link %>"><%= activ.menu_lable %></a></li>
                                     <% }); %>  
                                </ul>
                            </li>
                             <li><a href='<%= documents.route %>'><%= documents.label %></a></li>
                            <li><a href='<%= contacts.route %>'><%= contacts.label %></a></li>
                            <!--<li><a href='/login'>login</a></li>-->
                            
                        </ul>
                    </div><!-- End main-menu -->
                </nav>
            </div>
            </div>
        </div>