<!-- views/pages/contacts.ejs -->
<% layout('layout') -%>
<% block('stylesheet').replace('<link href="css/weather.css" rel="stylesheet">') -%>

<main>
    <div id="map"> </div> <!-- end map-->
    <div class="container margin_60">
        
        <!-- Weather widget -->
        <div class="main_title add_bottom_45">
            <span></span>
            <h2><%= weather.title %></h2>
        </div>
        <div id="weather" class="clearfix"></div>
        <!-- End Weather widget -->
        
        <hr>
        <div class="row">
            <div class="col-md-8">
                <div id="message-contact"></div>
                <form method="post" action="api/contact" id="contactform">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label><%= post_contact.name %></label>
                                <input type="text" class="form-control" id="name_contact" name="name_contact" placeholder="<%= post_contact.name_ph %>">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label><%= post_contact.lastName %></label>
                                <input type="text" class="form-control" id="lastname_contact" name="lastname_contact" placeholder="<%= post_contact.lastName_ph %>">
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label><%= post_contact.email %></label>
                                <input type="email" id="email_contact" name="email_contact" class="form-control" placeholder="<%= post_contact.email_ph %>">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label><%= post_contact.phone %></label>
                                <input type="text" id="phone_contact" name="phone_contact" class="form-control" placeholder="<%= post_contact.phone_ph %>">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label><%= post_contact.message_for_us %></label>
                                <textarea id="message_contact" name="message_contact" class="form-control" placeholder="<%= post_contact.message_for_us_ph %>" style="height:150px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row add_bottom_30">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><%= post_contact.checkIt %> </label>
                                <input type="text" id="verify_contact" class=" form-control add_bottom_30" placeholder="<%= post_contact.checkIt_ph %>">
                            </div>
                            <input type="submit" value="<%= post_contact.submit %>" class="btn_1" id="submit-contact">
                        </div>
                    </div>
                </form>
            </div>
            <!-- End col-md-8 -->

            <div class="col-md-4">
                <div class="box_style_1">
                    <h3><%= contact.label %></h3>
                    <h5><%= address.label %></h5>
                    <%= address.street %> <%= address.city %><br><%= address.psc %><%= address.state %>
                    <h5><%= phone.label %></h5>
                    <p><a href='<%= phone.link %>'><%= phone.text %></a></p>
                    <h5><%= mailto.label %></h5>
                    <p><a href='<%= mailto.link %>'><%= mailto.text %></a></p>
                    <h5>Návod ako sa k nám dostať</h5>
                    <p>Z hlavnej cesti odbočte ...</p>
                </div>
            </div><!-- End col-md-4 -->
        </div><!-- End row -->
    </div><!-- End Container -->
</main>