        <div id="top_header">
        	<div class="container">
            	<div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div id="logo">
                        <a href="/"><img src="img/logo.png" width="240" height="40" alt="ChataJablonovce" data-retina="true"></a>
                    </div>
                </div>
                <nav class="col-md-8 col-sm-8 col-xs-8">
                    <a class="cmn-toggle-switch cmn-toggle-switch__rot  open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="img/logo.png" width="240" height="40" alt="ChataJablonovce" data-retina="true">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Chalupa <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href='<%= loft.route %>'><%= loft.label %></a></li>
                                    <li><a href='<%= groundfloor.route %>'><%= groundfloor.label %></a></li>
                                </ul>
                            </li>
                             <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Zážitky v okolí <i class="icon-down-open-mini"></i></a>
                                <ul>
                                	<li><a href='<%= activity.route %>'><%= activity.label %></a></li>
                                    <li><a href="horses.html">Rybačka</a></li>
                                    <li><a href="local_food.html">Turistika</a></li>
                                    <li><a href="cooking.html">Cikloturistika</a></li>
                                    <li><a href="farm.html">Jazdenie na koňoch</a></li>
                                </ul>
                            </li>
                            
                            <li><a href='<%= contacts.route %>'><%= contacts.label %></a></li>
                        </ul>
                    </div><!-- End main-menu -->
                </nav>
            </div>
            </div>
        </div>