<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Kontaktný formulár</title>
</head>

<body>
    <p> Správa od : <%= body.name_booking %>
    Dátum rezervácie od: <%= body.check_in %>
                     do: <%= body.check_out %>
                     
    Rezervovaná čast: <%= body.room_type %>
    
    Počet dospelých: <%= body.adults %>
    Počet detí: <%= body.children %>
    
    Telefón: <%= body.phone_booking %>
    emial: <%= body.email_booking %> </p>
</body>

</html>
