<div class="box_style_1" id="book_in"><!-- rezervacny formulár -->
    <h3>Rezervácia</h3>
    <div id="message-booking"></div>
    <form role="form" method="post" action="api/reserve" id="check_avail" autocomplete="off">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <label><%= post_reservation.check_in %></label>
                    <input class="form-control" type="text" id="check_in" name="check_in" placeholder="<%= post_reservation.check_in_ph %>" />
                    <span class="input-icon"><i class="icon-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <label><%= post_reservation.check_out %></label>
                    <input class="form-control" type="text" id="check_out" name="check_out" placeholder="<%= post_reservation.check_out_ph %>" />
                    <span class="input-icon"><i class="icon-calendar"></i></span>
                </div>
            </div>
        </div>
        <!-- End row -->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <label><%= post_reservation.adults %></label>
                    <div class="qty-buttons">
                        <input type="button" value="-" class="qtyminus" name="adults">
                        <input type="text" name="adults" id="adults" value="2" class="qty form-control" placeholder="<%= post_reservation.adults_ph %>">
                        <input type="button" value="+" class="qtyplus" name="adults">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <label><%= post_reservation.children %></label>
                    <div class="qty-buttons">
                        <input type="button" value="-" class="qtyminus" name="children">
                        <input type="text" name="children" id="children" value="0" class="qty form-control" placeholder="<%= post_reservation.children_ph %>">
                        <input type="button" value="+" class="qtyplus" name="children">
                    </div>
                </div>
            </div>
        </div>
        <!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label><%= post_reservation.room_type %></label>
                    <select class="form-control" name="room_type" id="room_type">
                        <option value=""><%= post_reservation.room_type_select %></option>
                        <% content.accommodations.forEach(function(accomm){%>
                            <option value='<%= accomm.type %>'><%= accomm.title %></option>
                        <% });%>
                    </select>
                </div>
            </div>
            <div class="col-md-12 col-sm-6">
                <div class="form-group">
                    <label><%= post_reservation.name %></label>
                    <input type="text" class="form-control" name="name_booking" id="name_booking" placeholder="<%= post_reservation.name_ph %>">
                </div>
            </div>
            <div class="col-md-12 col-sm-6">
                <div class="form-group">
                    <label><%= post_reservation.phone %></label>
                    <input type="text" class="form-control" name="phone_booking" id="phone_booking" placeholder="<%= post_reservation.phone_ph %>">
                </div>
            </div>
            <div class="col-md-12 col-sm-6">
                <div class="form-group">
                    <label><%= post_reservation.email %></label>
                    <input type="text" class="form-control" name="email_booking" id="email_booking" placeholder="<%= post_reservation.email_ph %>">
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <input type="submit" value="<%= post_reservation.submit %>" class="btn_full" id="submit-booking">
                </div>
            </div>
        </div>
    </form>
</div>